<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="utils.TestNGListener"></listener>
	</listeners>

	<test thread-count="5" name="Test">
		<parameter name="Navegador" value="Chrome"></parameter>

		<classes>
			<class name="tests.test">
				<methods>
					<include name="testUserStory1" />
					<include name="testUserStory2" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
